@font-face {
  font-family: text_font;
  src: url("./assets/fonts/Marhey-VariableFont_wght.ttf");
}
:root {
  --primary-color: #39b68a;
  --secondary-color: #ff9201;
  --normal-color: #eee;
  --text-color: #333;
  --shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
html {
  direction: rtl;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--normal-color);
}
#root {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: text_font;
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}
.answer {
  border: 1px solid var(--text-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  border-radius: 10px;
}
.selected_answer {
  background-color: var(--primary-color);
  color: var(--normal-color);
}

.toast {
  min-width: 200px;
  padding: 0 15px;
  height: 50px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  animation: show 8s forwards ease-in-out;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.toast .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}
.toast .overlay {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  animation: color 7s forwards linear;
  background-color: var(--primary-color);
}
.toast p {
  margin: 0;
  color: var(--text-color);
  font-size: 15px;
}
.primary_bt {
  border: none;
  background-color: var(--primary-color);
  color: var(--normal-color);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
}
.cc #video-wrapper {
  padding: 0;
  margin: 0;
  --video-aspect-ratio: 2;
}
.section {
  display: flex;
  flex-direction: column;
  box-shadow: #333 0 2px 2px;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 30px;
  background-color: #fff;
}
.section .section_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--primary-color) 1px solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}
.section .section_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: hide_section;
}
.faqs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.faqs_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: #000 0 2px 5px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.faq span:first-of-type,
.faq button {
  position: absolute;
  left: 20px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: var(--normal-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.faq span:first-of-type {
  top: 10px;
}
.faq button {
  bottom: 10px;
  padding: 10px !important;
  border-radius: 5px !important;
}
.faq p {
  width: 100%;
  color: var(--primary-color);
  word-wrap: break-word;
}
.faq p:nth-of-type(2) {
  color: var(--secondary-color);
}
.faqs textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
}
.job-title {
  padding: 0 10px 0 0;
}
.job-box {
  color: var(--main-color);
  position: relative;
  padding: 0 10px;
  width: fit-content;
}
.job-box .overlay {
  position: absolute;
  top: 0;
  right: 99%;
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: #eee;
}
.job-box .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  width: 2px;
  height: 100%;
  animation: opacity 0.8s infinite alternate linear;
}

@keyframes to-left {
  0% {
    right: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes to-right {
  from {
    left: 0;
  }
  to {
    right: 0;
  }
}
@keyframes opacity {
  to {
    opacity: 0;
  }
}

.swiper {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 50px !important;
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-sizing: border-box;
}
.swiper-pagination {
  position: static !important;
  transform: translateX(-1px) scale(1.2) !important;
  padding-bottom: 5px;
}
.swiper-pagination span {
  background-color: var(--primary-color);
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--secondary-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--primary-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@keyframes show_section {
  from {
    transform: scaleY(0);
    opacity: 0;
    display: none;
  }
  to {
    transform: scaleY(1);
    display: flex;
    opacity: 1;
  }
}
@keyframes hide_section {
  to {
    opacity: 0;
    display: none;
  }
  from {
    opacity: 1;
    display: flex;
  }
}
@keyframes show {
  0% {
    transform: translateX(-100%);
    display: none;
  }
  5% {
    transform: translateX(20px);
  }
  7% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(10px);
  }
  92% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes color {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
@keyframes show_span {
  from {
    opacity: 0;
    top: 30px;
  }
  to {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}
@keyframes hide_span {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
    top: 30px;
  }
}
